azure-iot-device~=2.7.0
git+https://github.com/OceanStreamIO/oceanstream.git@fix/new_test_files_approach#egg=oceanstream --global-option="--config" --global-option="lfs.skip=1"
git+https://github.com/OceanStreamIO/echopype.git@next-dev
